/* Esto fulmina el botón y toda la barra superior del tema */
header, .btn, .view-on-github, aside {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
