---
---
@import "{{ site.theme }}";

/* Aquí es donde matamos al botón verde */
.view-on-github, .button, header aside {
    display: none !important;
}

/* Para que el título no quede tan pegado arriba sin el botón */
header {
    padding-top: 40px !important;
}
